<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
  </nlog>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=TestDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ItemCountNotDispla2yed" value="2"/>
  </appSettings>

</configuration>